<%- include("partial/header.ejs") %>

    <div class="titlepage-container">
        <h1 class="header-title">Affordable Car Rentals Anytime, Anywhere!</h1>
        <p class="p-subtitle">Need a ride for your next trip, business meeting, or weekend getaway? DriveYourWay Rentals offers a wide range of vehicles — from budget-friendly compacts to luxury SUVs — at prices you'll love.</p>
    </div>

    <div id="myCarousel" class="carousel">
        <div class="carousel-indicators">
            <button type="button" data-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-slide-to="2" aria-label="Slide 3"></button>
        </div>
        
        <div class="carousel-inner">
            <div class="carousel-item active">
               <img src="/style/driveby.jpg">

                <div class="carousel-container">
                    <div class="carousel-caption text-start">
                        <h1>SUMMER GETAWAY SPECIAL</h1>
                        <p class="opacity-75">Save 25% on Weekend Rentals. Book by August 31st</p>
                        <p><a class="btn btn-primary" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="/style/hyundai.jpg">
                <div class="carousel-container">
                    <div class="carousel-caption-mid">
                        <h1>FIRST-TIME CUSTOMER DEAL</h1>
                        <p> Get 20% Off Your First Rental. Use Code: WELCOME20</p>
                        <p><a class="btn btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="/style/adventure.jpg">

                <div class="carousel-container">
                    <div class="carousel-caption text-end">
                        <h1>LAST-MINUTE DEALS</h1>
                        <p>Book Today, Drive Tomorrow. Up to 40% Off Same-Day Bookings</p>
                        <p><a class="btn btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        
        <button class="carousel-control-next" type="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="two-column-container">
        <div class="column column-dark">
            <div class="content">
                <h2 class="headline">Mitsubishi 3000GT</h2>
                <p class="subheading">Rate: ₱15,000/day (plus fuel) <br> Pickup Location: Makati City</p>
            </div>
            <div class="visual-element visual-light"><img src="/style/mitsu.jpg" width="400" height="200"></div>
            <a class="select-car-btn" href="/viewitem">Check this car ></a>
        </div>
        <div class="column column-light">
            <div class="content">
                <h2 class="headline">M3 Competition</h2>
                <p class="subheading">Rate: ₱15,000/day (plus fuel) <br> Pickup Location: Makati City</p>
            </div>
            <div class="visual-element visual-dark"><img src="/style/m3.jpg"></div>
            <a class="select-car-btn-dark" href="/viewitem">Check this car ></a>
        </div>
    </div>

    <div class="two-column-container">
        <div class="column column-light">
            <div class="content">
                <h2 class="headline">Another headline</h2>
                <p class="subheading">And an even wittier subheading.</p>
            </div>
            <div class="visual-element visual-dark"></div>
        </div>

       <div class="column column-dark">
            <div class="content">
                <h2 class="headline">Another headline</h2>
                <p class="subheading">And an even wittier subheading.</p>
            </div>
            <div class="visual-element visual-light"></div>
        </div>
    </div>
  
<%- include("partial/footer.ejs") %>